
<div class="body">
  <div class="register">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="registrar()">

      <h1>Register</h1>
      <mat-form-field class="ancho">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>email@sasf.net</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Role</mat-label>
        <input matInput formControlName="Role">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Avatar</mat-label>
        <input matInput formControlName="avatar">
      </mat-form-field>
      <br>
      <button type="submit" class="ancho" mat-raised-button color="primary" [disabled]="form.invalid">Registrarse</button>
    </form>
  </div>
</div>




<!-- 
<div class="register">
    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
    <form *ngIf="!loading" class="custom-form" method="post" (click)="register()">
      <h1>Register</h1>
      <input
        type="name"
        [(ngModel)]?="name"
        name="name"
        placeholder="Name"
        required="required"
      />
      <input
        type="email"
        [(ngModel)]?="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input    
        type="password"
        [(ngModel)]?="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <input
        type="role"
        [(ngModel)]?="role"
        name="role"
        placeholder="Role"
        required="required"
      />
      <input
        type="avatar"
        [(ngModel)]?="avatar"
        name="avatar"
        placeholder="Avatar"
        required="required"
      />
      
      <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>
      <button type="submit" >Register</button>
    </form >
  </div>  -->
