<div class="container">
    <mat-toolbar>
        <span>Editar Producto</span>
    </mat-toolbar>

    <mat-card style="margin-top: 10px;">
        <form [formGroup]="form" (ngSubmit)="agregarproducto()">
            <mat-grid-list cols="6" rowHeight="70px">

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>TITULO</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./assets/images_material/caja.jpg" width="250">
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>PRECIO</mat-label>
                        <input matInput formControlName="price">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label>DESCRIPCION</mat-label>
                        <input matInput formControlName="description">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1" >
                    <mat-form-field class="ancho">
                        <mat-label>FECHA DE CREACION</mat-label>
                        <input matInput [matDatepicker]="picker" matInput formControlName="creationAt">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile>

                <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>FECHA DE ACTUALiZACION</mat-label>
                        <input matInput [matDatepicker]="picker" matInput formControlName="updateAt">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </mat-grid-tile> -->

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-raised-button style="margin-right: 20px;">Volver</button>
                    <button type="submit" [disabled]="form.invalid" color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
        </form>
    </mat-card>
</div>